html {
	position: relative;
	height: 100%;
}

body {
	color: #555;
	margin: 0;
	padding: 0;
	font-family: "Alata", sans-serif;
	background-color: #d1e3e5;
	height: 100%;
	min-width: 820px;
	min-height: 820px;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto
}

#header {
	background-color: #fd6c01;
	height: 100px;
	line-height: 100px;
	min-width: 725px;
	min-height: 100px;
}

#header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover {
	color: #fd6c01;
}

#header-title {
	display: block;
	float: left;
	font-size: 40px;
	font-weight: bold;
	border: 0px solid #222;
	height: 100px;
	width: 300px;
	background: #222;
	text-align: center;
}

#header-nav {
	display: block;
	float: right;
	font-size: 24px;
	border: 0px solid #222;
	background: #222;
	height: 100px;
	width: 425px;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#header-nav li {
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
}

.container {
	max-width: 2000px;
	margin: 0 auto;
}

.container a {
	color: white;
	transition: color 0.4s; /* это прописывается в html в <body> вместе с цветом*/
}

@font-face {
	font-family: "Alata", sans-serif;
	src: url(https://fonts.googleapis.com/css2?family=Alata&display=swap);
}

/* Шрифты можно импортировать - @import url(); */

#footer {
	background-color: #131217;
	padding: 50px 0;
	overflow: hidden;
	clear: both;

}

.column {
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#footer p {
	color: white;
}

a {
	color: white;
	text-decoration: none;
}


.column a:hover {
	color: #d1e3e5;
	transition: color 0.4s;
}

.post, .about {
	max-width: 1000px;
	margin: 0 auto;
	padding: 60px 0;
}

.post-author img {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	border-radius: 50%;
}

.about-author img {
	border-radius: 50%;
	vertical-align: middle;
}

.post-content {
	color: black;
}

.post-author span {
	margin-left: 16px;
	color:black;
}

.post-date {
	color: gray;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-left: 47.5px;
}

h1, h2, h3, h4 {
	color: black;
}

p {
	line-height: 1.5;
}

.about {
	text-align: center;
	color: black;
	font-size: 20px;

}

.post-container {
	background-color: #c3dadd;
}

@media all and (max-width: 1200px) {
	div {
		width: 50%;
	}
}

@media all and (max-width: 480px) {
	div {
		width: 100%;
	}
}
